#! /bin/bash

alias gp="git pull"
alias gco="git checkout"
alias gs="git stash"
alias gsp="git stash pop"
alias gss="git stash save"
alias gssi="git stash save --keep-index"
alias grm="git rebase master"

alias current-branch="git rev-parse --abbrev-ref HEAD"
alias split-pr='git diff master $(current-branch) > pr-patch'
alias split-pr-apply="git apply --3way pr-patch"

alias today="date -u +\"%FT%H%MZ\""

{{- if eq .chezmoi.os "linux" }}

# Windows computer config
alias mpv-double-audio="/mnt/d/Software/mpv/mpv.exe --lavfi-complex='[aid1] [aid2] amix [ao]'"

{{- end }}
