#! /bin/sh
# shellcheck disable=SC1054,SC1083,SC1073,SC1009,SC1056,SC1072

set -e

{{- if eq .chezmoi.os "linux" }}
    sudo apt update
    sudo apt install zsh
{{- else if eq .chezmoi.os "darwin" }}

{{- end }}

# oh-my-zsh installation
if [ ! -d "{{ .chezmoi.homeDir }}/.oh-my-zsh" ]; then
    sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
fi

# powerlevel10k - theme
POWERLEVEL10K_DIR=${ZSH_CUSTOM:-$HOME/.oh-my-zsh/custom}/themes/powerlevel10k
if [ ! -d $POWERLEVEL10K_DIR ]; then
    git clone --depth=1 https://github.com/romkatv/powerlevel10k.git $POWERLEVEL10K_DIR
else
    cd $POWERLEVEL10K_DIR
    git pull
fi

# zsh-syntax-highlighting - colours (for valid or invalid command) while typing
ZSH_SYNTAX_HIGHLIGHTING_DIR=${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-syntax-highlighting
if [ ! -d $ZSH_SYNTAX_HIGHLIGHTING_DIR ]; then
    git clone https://github.com/zsh-users/zsh-syntax-highlighting.git $ZSH_SYNTAX_HIGHLIGHTING_DIR
else
    cd $ZSH_SYNTAX_HIGHLIGHTING_DIR
    git pull
fi

ZSH_Z_DIR=${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-z
# zsh-z - jumping around to common directories
if [ ! -d $ZSH_Z_DIR ]; then
    git clone https://github.com/agkozak/zsh-z $ZSH_Z_DIR
else
    cd $ZSH_Z_DIR
    git pull
fi

# zsh-autosuggestions - shows recent commands as you type them
ZSH_AUTOSUGGESTIONS_DIR=${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-autosuggestions
# zsh-z - jumping around to common directories
if [ ! -d $ZSH_AUTOSUGGESTIONS_DIR ]; then
    git clone https://github.com/zsh-users/zsh-autosuggestions $ZSH_AUTOSUGGESTIONS_DIR
else
    cd $ZSH_AUTOSUGGESTIONS_DIR
    git pull
fi
